* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #aaa2a2, #e8d1d1, #918e8e);
    background-size: 400% 400%;
    animation: animbg 2s ease-in-out infinite;
}

form {
    border: 2px solid #eee;
    border-radius: 15px;
    padding: 20px;
    max-width: 250px;
    margin: 0 auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    transition: transform .5s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

input {
    padding: 5px 10px;
    outline: none;
}

[type="submit"] {
    cursor: pointer;
}

@keyframes animbg {
    form {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
}